<style>
    /* Body styles */
    body {
        font-family: 'Arial', sans-serif;
        background-color: #1d1d1d; /* Dark gray background */
        color: #fff; /* White text */
        margin: 0;
        padding: 0;
    }

    /* Header styles */
    header {
        background-color: #111; /* Dark background */
        padding: 20px;
        text-align: center;
    }

    /* Navigation styles */
    nav {
        background-color: #333; /* Darker background */
        padding: 10px;
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
    }

    nav li {
        margin-right: 10px;
    }

    nav a {
        display: block;
        color: #fff; /* White text */
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        border-radius: 8px;
        transition: background-color 0.3s ease;
    }

    nav a:hover {
        background-color: #555; /* Darker background on hover */
    }

    /* Main content styles */
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        flex-grow: 1;
        position: relative;
        overflow: hidden;
    }

    /* Section styles */
    section {
        background-color: #333; /* Darker background */
        color: #fff; /* White text */
        padding: 20px;
        margin-bottom: 30px;
        border-radius: 15px;
        width: 80%;
        text-align: justify;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-size: 18px;
        line-height: 1.5;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    }

    h1, h2, h3 {
        color: #ffcc00; /* Yellow headings */
        text-align: center;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }

    /* Footer styles */
    footer {
        background-color: #111; /* Dark background */
        padding: 10px;
        text-align: center;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    }

    footer p {
        color: #fff; /* White text */
    }

    /* Scrollbar styles */
    body::-webkit-scrollbar {
        width: 12px;
    }

    body::-webkit-scrollbar-track {
        background-color: #1d1d1d; /* Match the background color of your theme */
    }

    body::-webkit-scrollbar-thumb {
        background-color: #666; /* Dark gray thumb */
        border-radius: 6px; /* Add rounded corners to the scrollbar thumb */
    }

    body::-webkit-scrollbar-thumb:hover {
        background-color: #888; /* Lighter gray hover color */
    }

</style>